{% extends 'simulators/base.html

{% block title %}更新情報{% endblock title %}

{% block content %}
<main class='m-1'>
  <div class='row justify-content-md-center mt-3'>
    <div class='col-lg-10 mx-2'>
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> HOME</a></li>
          <li class="breadcrumb-item active">更新情報</li>
        </ol>
      </div>
      <h1 class='h2'>更新情報</h1>
      <p>いつもTousimuをご利用いただき、誠にありがとうございます。</p>
      <p>Tousimuでは日々、新機能の追加や不具合の修正などを行っております。</p>
      <p>不具合のご報告、ご質問、その他ご意見等はお気軽に<a href='contact_form.html'>お問い合わせフォーム</a>からご連絡ください。</p>
      <div class="card">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">更新日</th>
              <th scope="col">更新内容</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2020年8月9日</th>
              <td>各シミュレーションにLINEのシェアボタンを追加しました。<br class="d-inline d-sm-none">シミュレーション結果をトークやタイムラインに投稿できます。<br
                  class="d-inline d-sm-none">シミュレーション結果の友人への共有にご利用ください。</td>
            </tr>
            <tr>
              <th scope="row">2020年8月9日</th>
              <td>各シミュレーションにFacebookのシェアボタンを追加しました。<br class="d-inline d-sm-none">友人への共有にご利用ください。</td>
            </tr>
            <tr>
              <th scope="row">2020年8月4日</th>
              <td>各シミュレーションに機能や使い方の説明を追加しました。<br class="d-inline d-sm-none">またPC表示でのデザインを変更し、コンテンツ部分の幅を小さくしました。</td>
            </tr>
            <tr>
              <th scope="row">2020年8月3日</th>
              <td>更新情報の一覧ページを追加しました。<br class="d-inline d-sm-none">またTopページにも最新情報を表示しました。</td>
            </tr>
            <tr>
              <th scope="row">2020年8月1日</th>
              <td>シミュレーション結果を、画像に変換してダウンロードできるボタンを追加しました。<br class="d-inline d-sm-none">ぜひブログやSNSなどでご利用ください。</td>
            </tr>
            <tr>
              <th scope="row">2020年7月27日</th>
              <td>お問い合わせフォームを追加しました。<br class="d-inline d-sm-none">不具合のご報告、ご質問、その他ご意見等のご連絡にご利用ください。</td>
            </tr>
            <tr>
              <th scope="row">2020年7月14日</th>
              <td>入力フォームに投資用語を解説するヒントを追加しました。<br class="d-inline d-sm-none">ヒントはフォームに入力中またはフォームにマウスをホバー中に表示されます。</td>
            </tr>
            <tr>
              <th scope="row">2020年7月6日</th>
              <td>Topページのデザインを変更しました。
            </tr>
            <tr>
              <th scope="row">2020年6月28日</th>
              <td>Tousimuをリリースしました。
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</main>
{% endblock content %}
